body {
    font-family: Arial;
    background: linear-gradient(120deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    /* Main Background Code */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.gallery-container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    margin: 10px;
    border: none;
    background: #ff6f61;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #e85a4f;
}